/target/allure-results
/allure-results
/target/maven-status/maven-compiler-plugin
/target/maven-status/maven-compiler-plugin
/target/maven-status/maven-compiler-plugin/compile/default-compile
/target/maven-status/maven-compiler-plugin/compile/default-compile
/target
/.allure
/.idea/
