<?xml version="1.0" encoding="UTF-8"?>
<suite name="Weather API Functional Test Suite">
    <test name="Functional Tests">
        <classes>
            <class name="com.weatherapi.tests.functional.WeatherFunctionalTests"/>
        </classes>
    </test>
    <test name="Performance Tests">
        <classes>
          <class name="com.weatherapi.tests.performance.WeatherPerformanceTests"/>
         </classes>
    </test>
    <test name="Security Tests">
        <classes>
            <class name="com.weatherapi.tests.security.WeatherSecurityTests"/>
        </classes>
    </test>
</suite>